.books-cont {
  margin-top: 1%;
  row-gap: 5px;
}

.book-card {
  width: 80%;
  height: 10.625rem;
  margin: 2.313rem 6.25rem 0;
  padding: 2rem 9.188rem 1.625rem 1.688rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
  justify-content: space-between;
  box-shadow: 0 5px 6px #888;
}

.book-progress {
  column-gap: 20px;
  padding-right: 20px;
  border-right: 1px solid #e8e8e8;
}

.circle {
  color: #379cf6;
}

.percent {
  row-gap: 25px;
}

.percent h3,
p {
  font-size: 1.8rem;
  text-transform: capitalize;
  color: #121212;
  font-family: 
    Cambria,
    Cochin,
    Georgia,
    Times,
    'Times New Roman',
    serif;
  font-weight: normal;

}

.book-category {
  margin: 0 2.438rem 0 0;
  opacity: 0.5;
  font-size: 0.875rem;
  color: #121212;
  text-transform: capitalize;
}

.book-details {
  width: 30vw;
  row-gap: 2.5px;
  justify-content: flex-start;
  align-items: flex-start;
}

.book-title {
  margin: 0.188rem 10.188rem 0 0;
  width: 80%;
  word-wrap: break-word;
  font-size: 1.375rem;
  font-weight: bold;
  letter-spacing: -0.2px;
  color: #121212;
  text-transform: capitalize;
}

.book-author {
  margin: 0.25rem 0 0;
  font-size: 0.875rem;
  color: #4386bf;
  font-weight: 300;
  text-transform: capitalize;
}

.btn-cont {
  margin: 0.688rem 0 0.125rem 0;
  column-gap: 1.2rem;
}

.control-btn {
  color: #4386bf;
  text-transform: capitalize;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  width: 25%;
  padding: 3px 0;
  justify-content: flex-start;
  border-right: 1px solid #e8e8e8;
}

.control-btn:last-of-type {
  border-right: none;
}

.chapter {
  row-gap: 20px;
  justify-content: flex-start;
  width: 200px;
  padding-left: 30px;
}

.book-chapter {
  font-size: 0.913rem;
  font-weight: 300;
  color: #121212;
  opacity: 0.5;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.chapter p {
  font-size: 1rem;
  color: #121212;
  text-transform: capitalize;
  letter-spacing: -0.4px;
}

.chapter-btn {
  border: none;
  outline: none;
  padding: 12px;
  border-radius: 4px;
  width: 100%;
  background: #0290ff;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

.add-book {
  width: 80%;
  margin-top: 3%;
  padding: 1.5% 0;
  row-gap: 20px;
  border-top: 1px solid #e8e8e8;
}

.add-book h2 {
  color: #888;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.form {
  column-gap: 25px;
}

.form-input {
  width: 51%;
  height: 2.813rem;
  padding: 15px 0 20px 30px;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
  text-transform: capitalize;
}

.select {
  width: 30%;
  height: 2.813rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
  color: grey;
  padding: 10px;
  text-transform: capitalize;
  font-size: 18px;
}

.submit-btn {
  width: 15%;
  height: 2.813rem;
  color: #fff;
  background: #0290ff;
  text-transform: uppercase;
  border: none;
  outline: none;
  border-radius: 4px;
  font-weight: 600;
}

.category {
  background: #fafafa;
  height: 82.4vh;
}
